<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>About Us | Best Cars Dealership Review</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </head>

  <body>
    <!-- Add nav here -->
    {% include './navigation.html' %}

    <div class="container d-flex justify-content-center">
      <div class="jumbotron mt-4 w-75">
        <h1 class="display-4">Welcome to Best Cars dealership!</h1>
        <p class="lead">
          We're the home to the best cars in North America. We sell domestic and
          imported cars at reasonable prices.
        </p>
      </div>
    </div>
  </body>
</html>
